@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navbar {
  background-color: #070808;
  width: 100%;
  color: #fff;
  display: block;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 50px;

  li {
    display: inline;
    margin-left: 25px;

    a {
      color: #fff;
      text-decoration: none;
      transition: 75ms;
      &:hover {
        color: #d5d5d5;
        transition: 75ms;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}